.dropdown-invert {
  ///////////////////////////////////////////////////////////////////////////////////
  $rear-border-color: gainsboro !default;
  $rear-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $rear-dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $rear-font-color: $rear-dark-gray !default;

  line-height: $base-line-height;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $dropdown-color: $rear-background-color;
  $dropdown-description-color: lighten($dropdown-color, 40%);
  $dropdown-border: 1px solid silver;
  $dropdown-background: $rear-main-highlight;
  $dropdown-background-hover: darken($dropdown-background, 3%);
  $dropdown-inner-border: 1px solid silver;
  $dropdown-height: 30px;
  $dropdown-padding: 1em;
  $dropdown-distance-from-menu: 32px;
  $dropdown-arrow-top-distance: -2px;

  .dropdown-container {
    display: inline-block;
    position: relative;
    text-align: left;
  }

  .dropdown-button {
    background: $dropdown-background;
    cursor: pointer;
    float: right;
    line-height: $dropdown-height;
    margin: 0;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    min-width: $central-3col-width;
    max-width: $central-3col-width;

    a {
      color: $dropdown-color;
    }

  }

  .dropdown-button:hover {
    background-color: $dropdown-background-hover;
  }

  .dropdown-button:after {
    color: $dropdown-color;
    content: "\25BE";
    display: block;
    position: absolute;
    right: 0;
    top: $dropdown-arrow-top-distance;
    font-size: 1.5em;
    background-color: $dropdown-background;
    padding: 0 0.75 * $dropdown-padding;
  }

  .dropdown-menu {
    @include transition (all 0.2s ease-in-out);
    background: $dropdown-background;
    border-radius: $rear-border-radius;
    border: $dropdown-border;
    box-shadow: 0 2px 2px transparentize(black, 0.8);
    color: $dropdown-color;
    cursor: pointer;
    display: none;
    overflow: show;
    position: absolute;
    right: 0;
    top: $dropdown-distance-from-menu;
    width: 100%;
    z-index: 99999;
  }

  .dropdown-menu li {
    border-bottom: $dropdown-inner-border;
    color: $dropdown-color;
    padding: $dropdown-padding / 2;
    a {
      color: $dropdown-color;
    }
  }

  .dropdown-menu li:hover {
    background: $dropdown-background-hover;
  }

  .dropdown-menu li.dropdown-top {
    border-bottom: $dropdown-inner-border;
    background-color: $dropdown-color;
    color: $dropdown-background;
    padding: $dropdown-padding / 2;
    a {
      color: $dropdown-background;
    }
  }

  .dropdown-menu li.dropdown-top:hover {
    background: lighten($dropdown-color, 10%);
  }

  .dropdown-menu li:first-child {
    border-top-left-radius: $rear-border-radius;
    border-top-right-radius: $rear-border-radius;
  }

  .dropdown-menu li:last-child {
    border: none;
    border-bottom-left-radius: $rear-border-radius;
    border-bottom-right-radius: $rear-border-radius;
  }

  .show-menu {
    display: block;
  }
}
// Inspired by code by www.HUSAMUI.com
