
.icon-population-icon:before { content: '\e803'; } /* '' */
.icon-dollar-icon:before { content: '\e804'; } /* '' */
.icon-housing-icon:before { content: '\e805'; } /* '' */
.icon-finance-icon:before { content: '\e806'; } /* '' */
.icon-fullscreen-icon:before { content: '\e807'; } /* '' */
.icon-accommodation-icon:before { content: '\e808'; } /* '' */
.icon-food-icon:before { content: '\e809'; } /* '' */
.icon-fuel-icon:before { content: '\e80a'; } /* '' */
.icon-travel-icon:before { content: '\e80b'; } /* '' */
.icon-retail-icon:before { content: '\e80c'; } /* '' */
.icon-other-icon:before { content: '\e80d'; } /* '' */
.icon-agriculture-icon:before { content: '\e80e'; } /* '' */
.icon-people-icon:before { content: '\e80f'; } /* '' */
.icon-tertiary-education-icon:before { content: '\e810'; } /* '' */
.icon-barchart-icon:before { content: '\e811'; } /* '' */
.icon-timeseries-icon:before { content: '\e812'; } /* '' */
.icon-tree-icon:before { content: '\e813'; } /* '' */
.icon-reset-icon:before { content: '\e814'; } /* '' */
.icon-close-icon:before { content: '\e815'; } /* '' */
.icon-share-icon:before { content: '\e816'; } /* '' */
.icon-code-icon:before { content: '\e817'; } /* '' */
.icon-nz-map-icon:before { content: '\e818'; } /* '' */
.icon-table-icon:before { content: '\e819'; } /* '' */
.icon-download-icon:before { content: '\e81a'; } /* '' */
.icon-indicators-icon:before { content: '\e81b'; } /* '' */
.icon-income-icon:before { content: '\e81c'; } /* '' */
.icon-home-icon:before { content: '\e81d'; } /* '' */
.icon-workforce-icon:before { content: '\e81e'; } /* '' */
.icon-school-icon:before { content: '\e81f'; } /* '' */
.icon-tertiary-icon:before { content: '\e820'; } /* '' */
.icon-economic-icon:before { content: '\e821'; } /* '' */
.icon-tourism-icon:before { content: '\e822'; } /* '' */
.icon-zoom-plus-icon:before { content: '\e823'; } /* '' */
.icon-zoom-minus-icon:before { content: '\e824'; } /* '' */
.icon-cc-sa-icon:before { content: '\e825'; } /* '' */
.icon-cc-icon:before { content: '\e826'; } /* '' */
.icon-by-icon:before { content: '\e827'; } /* '' */
.icon-nc-icon:before { content: '\e828'; } /* '' */
.icon-tick-icon:before { content: '\e829'; } /* '' */
.icon-twitter-icon:before { content: '\e82a'; } /* '' */
.icon-facebook-icon:before { content: '\e82b'; } /* '' */