.embed-menu {
  font-family: "gustan-book";
  .embed-labels {
    margin-bottom: 15px;
    font-size: 18px;
    &.active {
      color: $rear-main-highlight;
    }
  }

  .embed-preview {
    height: 400px;
    overflow: hidden;
    iframe {
      pointer-events: none;
      visibility: hidden;
      @include transform-origin(left top);
      @include transition(transform 0.5s);
    }
  }
  .embed-controls {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);

    textarea {
      font-family: monospace;
      font-size: 10px;
      padding: 0;
    }

    .snippet-copy {
      color: $rear-white;
      background-color: $rear-main-highlight;
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: $rear-alternative-highlight;
      }
    }

    .selector {
      $rear-border-radius: 3px !default;
      $base-line-height: 1.5em !default;
      $selector-color: $rear-font-color;
      $selector-description-color: lighten($selector-color, 40%);
      $selector-border: 1px solid $rear-medium-gray;
      $selector-background: $rear-background-color;
      $selector-background-hover: darken($selector-background, 3%);
      $selector-inner-border: 1px solid $rear-medium-gray;
      $selector-height: 40px;
      $selector-padding: 1em;
      $selector-distance-from-menu: 50px;
      $selector-arrow-top-distance: 0;

      line-height: $base-line-height;

      .selector-container {
        display: inline-block;
        position: relative;
        text-align: left;
        margin: 25px 0;
        width: 100%;
      }

      .selector-button {
        background: $selector-background;
        border-radius: $rear-border-radius;
        border: $selector-border;
        cursor: pointer;
        line-height: $selector-height;
        margin: 0;
        position: relative;
        width: 100%;
        color: $rear-medium-gray;

        font-size: 1em;
        padding: 0 ($selector-padding * 2.5) 0 ($selector-padding / 2);
      }

      .selector-button:hover {
        color: $rear-white;
        background-color: $rear-alternative-highlight;
        border-color: $rear-white;
        &:after {
          color: $rear-white;
        }
      }

      .selector-button:after {
        color: $rear-main-highlight;
        content: "\25BE";
        display: block;
        position: absolute;
        right: $selector-padding;
        top: $selector-arrow-top-distance;
      }

      .selector-menu {
        @include transition (all 0.2s ease-in-out);
        background: $selector-background;
        border-radius: $rear-border-radius;
        border: $selector-border;
        box-shadow: 0 2px 2px transparentize(black, 0.8);
        color: $selector-color;
        cursor: pointer;
        display: none;
        margin: 0;
        overflow: show;
        padding: 0;
        position: absolute;
        right: 0;
        top: $selector-distance-from-menu;
        width: 100%;
        z-index: 99999;

      }

      .selector-menu li {
        border-bottom: $selector-inner-border;
        color: $rear-main-highlight;
        list-style: none;
        padding: $selector-padding / 2;
        width: 100%;
      }

      .selector-menu li:hover {
        background: $rear-alternative-highlight;
        color: $rear-white;
        border-color: $rear-white;
      }

      .selector-menu li:first-child {
        border-top-left-radius: $rear-border-radius;
        border-top-right-radius: $rear-border-radius;
      }

      .selector-menu li:last-child {
        border: none;
        border-bottom-left-radius: $rear-border-radius;
        border-bottom-right-radius: $rear-border-radius;
      }

      .show-menu {
        display: block;
      }
    }
    // Inspired by code by www.HUSAMUI.com




    .embed-components {
      @include display(flex);
      @include flex-wrap(wrap);
      @include justify-content(space-between);

      input {
        display: none;
      }

      .embed-component {
        font-size: 14px;
        margin: 4px 0;
        cursor: pointer;

        @import 'embed_popup_form';
      }
    }
  }
}
