.share-menu {
  .extra-wrapper {
    @include display(flex);
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    width: 100%;

    @media #{$breakpoint_small} {
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }
    }

    .export-detail {
        width: 100%;

      @include display(flex);
      @include flex-direction(column);
      @include justify-content(space-between);

      .share-text {
        font-family: "gustan-light";
        font-size: 24px;
        color: $rear-main-highlight;
        line-height: 1.3;
      }
      img {
        margin-left: 50px;
        width: 300px;
      }

      .share-url {
        font-family: "gustan-book";
        font-size: 14px;
        line-height: 38px;
        height: 38px;
        border: 1px solid $rear-mid-gray;
        white-space: nowrap;
        overflow: hidden;
        color: $rear-dark-gray;
        background: $rear-white;
        width: 100%;
      }
    }
    .export-controls {
      color: $rear-medium-gray;
      font-family: "gustan-book";
      font-size: 18px;
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(space-between);


      %share {
        background-color: $rear-main-highlight;
        color: $rear-white;
        margin: 4px 0;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        position: relative;
        display: block;
        padding-left: rem(50);

        &:hover {
          background-color: $rear-alternative-highlight;
        }

        &:first-child {
          margin-top: 12px;
        }

        i {
          display: inline-block;
          position: absolute;
          left: rem(10);
        }
      }
      .social-share {
        @media #{$breakpoint_small} {
          margin-top: 20px;
        }
        .share-twitter {
          @extend %share;

          i {
            top: rem(8);
            left: rem(15);
            @include fontello-icon( $icon: twitter, $font-size: rem(20), $color: $rear-white ) {
                margin-left: -5px;
                margin-top: 2px;
            }
          }
        }
        .share-facebook {
          @extend %share;

          i {
            left: rem(15);
            top: rem(7);
            @include fontello-icon( $icon: facebook, $font-size: rem(20), $color: $rear-white ) {
                margin-left: -5px;
                margin-top: 0px;
            }
          }
        }
      }
      .share-copy {
        color: $rear-white;
        font-size: 14px;
        text-align: center;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        background-color: $rear-main-highlight;

        @media #{$breakpoint_small} {
          margin-top: 4px;
        }
        &:hover {
          background-color: $rear-alternative-highlight;
        }
      }
    }
  }

}
