$toolbar-easing: cubic-bezier(0.25, 0.46, 0.45, 0.94) !default; // easeOutQuad


.tool-bar {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  background: $rear-white;
  height: 100vh;
  max-height: rem(70);
  font-family: 'gustan-medium';
  transition: max-height 0.5s $toolbar-easing;

  &:before,
  &:after {
    @include background-image(linear-gradient(rgba(tint($rear-toolbar-box-shadow, 10%), .5) 0, rgba(tint($rear-toolbar-box-shadow, 10%), .1) 60%, transparent));
    display: block;
    content: '';
    position: absolute;
    height: 16px;
    width: 100%;
    z-index: 1;
  }

  &:before {
    top: 0;
  }

  &:after {
    top: 100%;
  }

  .closed & {
    display: none;
  }

  .fixed & {
      position: fixed;
      top: 70px;
      bottom: auto;
  }

  .large & {
    max-height: 100vh;
    height: 100vh;
    transition: max-height 0.5s $toolbar-easing;

    .filtering {
      display: block;
      max-height: rem(1000);
      opacity: 1;
      transition: max-height 0.5s, opacity 0.5s;
    }

    .summary {
      max-height: 0;
      transition: max-height 0.15s;

      .label,
      .elements {
        display: none;
      }
    }

    .filter-type {
        &.charts {
            margin-top: 0;
        }
    }
  }

  .small & {
    .filters {
      @include justify-content(flex-end);
      height: 0;
    }

    .filtering {
      height: 0;
    }

    .filter-type {
      display: none;

      &.charts {
        display: block;

        .header {
          border-bottom: none;
          margin-bottom: 0;
          min-height: 0;

          button.active {
            &:after {
              display: none;
            }
          }
        }



        .options {
          display: none;
        }
      }
    }
  }

  .background-clickable {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .content {
    padding: 0 24px;
  }

  .label {
    color: rgba($rear-toolbar-text, .5);
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
  }

  .summary {
    position: relative;
    height: 100%;
    max-height: rem(70);
    transition: max-height 0.5s;

    .label,
    .elements {
      float: left;
    }

    .label {
      @include transform(translateY(-50%));
      position: absolute;
      top: 50%;
    }
  }

  .elements {
    @include transform(translateY(-50%));
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-left: rem(80);
    color: $rear-toolbar-text;

    button {
      display: table-cell;
      font-size: 14px;
      outline: none;

      &:after {
        content: "+";
        padding: 0 15px;
        color: rgba($rear-main-highlight, .5);
      }

      &:focus {
        outline: none;
      }
    }
  }

  .element {
    display: inline-block;
    position: relative;
    margin-right: -4px;
    margin-top: 8px;

    &:last-child {
      .chosen-container {
        span {
          &:after {
            display: none;
          }
        }
      }
    }

    .options {
      display: none;
    }

    > button {
      @include border-top-radius(0);
      color: $rear-main-highlight;
      padding: rem(25) 0 0 0;
      background: none;
      outline: none;
    }

    .chosen-container {
      background: none;
      display: block;
      z-index: 2;
      top: 0;
      left: 0;
      outline: none;

      &-active {
        &.chosen-with-drop {
          .chosen-single {
            background: none;
            color: $rear-alternative-highlight;
          }
        }
      }

      &.chosen-with-drop {
        .chosen-drop {
          left: rem(-20);
        }
      }

      span {
        &:after {
          content: '';
        }
      }

      .chosen-drop {
        width: rem(200);
        margin-top: rem(28);
      }

      .chosen-single {
        background: none;
        padding: 0;

        span {
          margin-right: 0;

          &:after {
            content: '+';
            padding-left: 10px;
            padding-right: 10px;
          }
        }



        div {
          display: none;
        }


      }

      /*
.chosen-single {
        display: none;
      }

      .chosen-drop {
        left: 0;
        top: 0;

        .chosen-results {
          height: auto;
        }
      }
*/
    }




  }

  .filtering {
    position: relative;
    z-index: 2;
    height: 100%;
    max-height: 0;
    // opacity: 0;
    // overflow: hidden;
    transition: max-height 0.5s, opacity 0.5s;
  }

  .filters {
    @include display(flex);
    @include flex-wrap(wrap);
    @include flex-direction(columns);
    @include justify-content(flex-start);
    
    margin-top: rem(22);
    // transition
  }

  .view-by {
    display: none;
  }

  .year {
    .ps-container {
      width: 120px;
      position: relative;

      &.ps-active-y {
        > .ps-scrollbar-y-rail > .ps-scrollbar-y {
          background: $rear-alternative-highlight !important;
        }
      }

      > .ps-scrollbar-y-rail > .ps-scrollbar-y {
        @include border-top-radius(0);
        @include border-bottom-radius(0);
        background: $rear-background;
        width: 30px;
        height: 16px;
        right: -14px !important;

        &:hover {
          background: $rear-alternative-highlight;
        }
      }

      > .ps-scrollbar-y-rail {
        width: 3px;
        right: 14px !important;
        background: $rear-background !important;
      }
    }

    ul {
      max-height: 185px;
    }
    li {
      display: block;
    }

    button {
      font-family: 'Droid Sans Mono', monospace;
      float: none;
      outline: none;
    }
  }

  .filter-type {
    margin-right: 40px;

    &:last-child {
      @include align-content(flex-end);
      margin-right: 0;
      width: 312px;
      padding-right: 70px;
    }

    &.area {
      @include flex-basis(160px);
    }
    &.transform {
        @include flex-basis(115px);
    }

    &.charts {
      margin-top: rem(-68);

      .label {
        display: none;
      }

      .header {
        min-height: 38px;
        display: block;
        border-bottom: 2px solid $rear-background;

        button {
          float: none;
          padding: 0;
          height: rem(26);
          width: rem(26);
          margin-right: rem(20);
          margin-bottom: 0;
          position: relative;
          overflow: visible;
          background-repeat: no-repeat;
          outline: none;
          background: none;

          &.active {
            cursor: default;
          }

          &.active,
          &:hover {
            i {
              @include opacity(1);
            }
          }

          &.timeseries {
            i {
              @include fontello-icon( $icon: timeseries, $font-size: rem(26), $color: $rear-alternative-highlight );
            }
          }

          &.barchart {
            i {
              @include fontello-icon( $icon: barchart, $font-size: rem(26), $color: $rear-alternative-highlight );
            }
          }

          &.treemap {
            i {
                @include fontello-icon( $icon: tree, $font-size: rem(26), $color: $rear-alternative-highlight );
            }
          }

          i {
            @include opacity(.5);
            @include transition(all .25s ease);
            display: block;
            width: rem(26);
            height: rem(26);
            margin-top: -2px;
          }
        }
      }
    }

    &.year {
      button {
        font-size: rem(12);
      }
    }

    .label {
      line-height: 1em;
      margin-bottom: 20px;
    }

    // IE11 hack ahead!
    ul {
        max-width: rem(290);
        display: flex;
        list-style: none;
        flex-wrap: wrap;
    }

    button {
        @include border-top-radius(0);
        @include border-bottom-radius(0);
        margin-bottom: 2px;
        margin-right: 2px;
        display: inline-block;
        float: left;
        background: $rear-background;
        color: $rear-main-highlight;
        font-size: 14px;
        font-weight: normal;
        line-height: 1em;
        text-transform: capitalize;
        outline: none;

      &:hover,
      &.active {
        color: $rear-white;
        background: $rear-alternative-highlight;
      }

      &:disabled {
        &:hover {
          background: $rear-background;
          color: $rear-main-highlight;
        }
      }
    }
  }

  .actions {
    position: absolute;
    width: 100%;
    margin-left: rem(-25);
    top: rem(25);
    text-align: right;
    z-index: 3;

    button {
      @include border-top-radius(0);
      @include border-bottom-radius(0);
      padding: 0;
      margin: 0;
      position: absolute;
      right: 25px;
      top: 0;
      outline: none;
    }

    .open-button {
      @include triangle(25px, $rear-main-highlight, down);
      background: transparent;
      top: 8px;
      z-index: 2;

      &:hover {
        @include triangle(25px, $rear-alternative-highlight, down);
      }
    }

    .close-button {
      background: none;
      width: rem(25);
      height: rem(25);
      z-index: 2;

      i {
        display: block;
        @include fontello-icon( $icon: close, $font-size: rem(25), $color: $rear-alternative-highlight );
      }

      &:hover {
        i {
            @include fontello-icon( $icon: close, $font-size: rem(25), $color: $rear-main-highlight );
        }
      }
    }
  }

  .chosen-container {
    width: 100%;
    background: $rear-background;
    line-height: 0;
    display: none;
    outline: none;

    &-active {
      &.chosen-with-drop {
        .chosen-single {
          background: $rear-background;
          font-family: $base-font-family;

          div {
            b {
              @include transform(translateY(-50%) rotate(180deg));
            }
          }
        }
      }
    }

    &.chosen-container-active {
      div {
        b {
          border-bottom: none;
        }
      }
    }

    .chosen-single {
      background: $rear-background;
      box-shadow: none;
      font-size: 14px;
      line-height: 1em;
      font-weight: normal;
      color: $rear-toolbar-text;
      font-family: $base-font-family;
      padding: 20px;
      display: inline-block;
      height: 100%;
      width: 100%;
      outline: none;

      span {
        margin-right: 20px;
      }

      div {
        width: 30px;

        b {
          @include transition(all .25s);
          @include triangle(12px, $rear-main-highlight, down);
          @include transform(center center);
          @include transform(translateY(-50%));
          background: none;
          position: absolute;
          top: 50%;
          left: 0;
        }
      }
    }

    .chosen-results {
      background: $rear-white;
      font-family: $base-font-family;
      border-bottom: none;
      width: 100%;
      max-width: 100%;
    }

    li {
      font-size: 14px;
      font-weight: normal;
      color: $rear-main-highlight;
      padding: 10px 20px;

      &.disabled-result {
        color: tint($rear-main-highlight, 60%);
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .tool-bar {
        .fixed & {
            top: rem(70);
        }
    }
}

@media (max-width: 1024px) {
  .tool-bar {
    padding: 0;
    height: rem(54);

    &:before {
      background-image: none;
    }

    .summary {
      height: 0;
      display: none;
    }

    .filters {
      @include justify-content(flex-start);
      margin-top: 0;
    }

    .filtering {
      overflow: visible;
    }

    .filtering,
    .filters{
      height: auto;
      max-height: 100%;
      opacity: 1;
    }

    .filter-type {
      display: block;

      .label,
      .label + div {
        display: none;
      }
    }

    .view-by {
      display: block;
      position: relative;
      padding-right: 20px;

      .label {
        @include transform(translateY(-50%));
        position: absolute;
        top: 50%;
        display: block;
        color: $rear-main-highlight;
        white-space: nowrap;
      }
    }

    .filter-type {
      @include flex-grow(1);
      margin-right: 2px;

      &:last-child {
        width: auto;
        padding-right: 0;
      }

      &.charts {
        margin-top: 0;
        z-index: 1;
        position: relative;
        padding-left: 80px;

        .header {
          @include transform(translateY(-50%));
          position: absolute;
          top: 50%;
          right: 0;
          min-height: 0;
          border-bottom: none;

          button {
            outline: none;

            &:last-child {
              margin-right: 0;
            }
            &.active {
              &:after {
                display: none;
              }
            }
          }
        }
      }
    }

    .chosen-container {
      display: inline-block;
    }

    .options,
    .label,
    .summary .top,
    .summary .actions {
      display: none;
    }

  }
}

@media #{$breakpoint_small} {
  .tool-bar {
    height: rem(66);

    .fixed & {
        top: rem(70);
    }

    .filter-type {
      &.area,
      &.transform,
      &.year {
        display: none;
      }

      &.charts {
        @include display(flex);

        .header {
          margin-bottom: 0;
        }
      }
    }

    .large & {
      height: rem(196);

      .filters {
        margin-top: rem(70);
      }

      .filter-type {
        &.area,
        &.transform,
        &.year {
          display: block;
        }
          &.area,
          &.transform {
              @include flex-basis(100%);
          }

          &.charts {
            margin-top: 0;
          }

          select {
              @include appearance(none);
              border: none;
              outline: none;
              background: $rear-white;
              width: 100%;
              padding-left: rem(24);
              padding-right: rem(24);
          }
      }
    }

    .summary {
      width: 72px;
      height: 66px;
      position: absolute;
      right: 0;
      display: block;

      .actions {
        width: 100%;
        height: rem(66);
        display: block;
        margin-left: 0;
        z-index: 3;
        top: 0;

        button {
          @include transform(translateY(-50%));
          top: 50%;
          right: 24px;
          outline: none;
        }
      }
    }

    .filters {
      @include flex-direction(row);
    }

    .content {
      padding: 0;
    }

    .filter-type {
      width: 100%;
      margin-right: 0;

      &.view-by {
        display: none;
      }

      &.charts {
        @include order(-1);
        @include display(flex);
        @include flex-wrap(nowrap);
        @include flex-direction(columns);
        @include justify-content(flex-start);
        padding: 20px 72px 20px 24px;
        height: rem(66);

        .label {
          display: block;
          margin-right: 20px;
          margin-top: 10px;
          margin-bottom: 0;
        }

        .header {
          display: none;
        }
      }
    }

    .chosen-container {

      .chosen-single {
        padding: 20px 24px;

        div {
          width: 34px;
        }
      }
    }
  }
}
