div.map svg {
    height: 550px;
    z-index: -10;
}

div.map svg > g {
  transform: translate(-50px, 730px) scale(1, -1);
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

div.map svg polyline {
    stroke-width: 0.8px;
}

div.map.zoom.auckland-selected svg > g {
    transform: translate(-3250px,6570px) scale(10.2,-10.2);
}
div.map.zoom.auckland-selected svg polyline { stroke-width: 0.2px; }

div.map.zoom.bay-of-plenty-selected svg > g {
    transform: translate(-2100px,3300px) scale(5.5,-5.5);
}
div.map.zoom.bay-of-plenty-selected svg polyline { stroke-width: 0.3px; }

div.map.zoom.canterbury-selected svg > g {
    transform: translate(-300px,8300px) scale(3,-3);
}
div.map.zoom.canterbury-selected svg polyline { stroke-width: 0.4px; }

div.map.zoom.gisborne-selected svg > g {
    transform: translate(-2516px,3550px) scale(6,-6);
}
div.map.zoom.gisborne-selected svg polyline { stroke-width: 0.3px; }

div.map.zoom.hawkes-bay-selected svg > g {
    transform: translate(-1870px,2600px) scale(5,-5);
}
div.map.zoom.hawkes-bay-selected svg polyline { stroke-width: 0.2px; }

div.map.zoom.manawatu-wanganui-selected svg > g {
    transform: translate(-1250px,2400px) scale(4.5,-4.5);
}
div.map.zoom.manawatu-wanganui-selected svg polyline { stroke-width: 0.3px; }

div.map.zoom.marlborough-selected svg > g {
    transform: translate(-1600px,2348px) scale(6,-6);
}
div.map.zoom.marlborough-selected svg polyline { stroke-width: 0.2px; }

div.map.zoom.nelson-selected svg > g {
    transform: translate(-2000px,3400px) scale(8,-8);
}
div.map.zoom.nelson-selected svg polyline { stroke-width: 0.2px; }

div.map.zoom.northland-selected svg > g {
    transform: translate(-1100px,3750px) scale(5,-5);
}
div.map.zoom.northland-selected svg polyline { stroke-width: 0.3px; }

div.map.zoom.otago-selected svg > g {
    transform: translate(-75px,8148px) scale(4,-4);
}
div.map.zoom.otago-selected svg polyline { stroke-width: 0.3px; }

div.map.zoom.southland-selected svg > g {
    transform: translate(100px,8000px) scale(4,-4);
}
div.map.zoom.southland-selected svg polyline { stroke-width: 0.3px; }

div.map.zoom.taranaki-selected svg > g {
    transform: translate(-2260px,4100px) scale(8,-8);
}
div.map.zoom.taranaki-selected svg polyline { stroke-width: 0.2px; }

div.map.zoom.tasman-selected svg > g {
    transform: translate(-1080px,2396px) scale(6,-6);
}
div.map.zoom.tasman-selected svg polyline { stroke-width: 0.3px; }

div.map.zoom.waikato-selected svg > g {
    transform: translate(-1050px,2550px) scale(4,-4);
}
div.map.zoom.waikato-selected svg polyline { stroke-width: 0.4px; }

div.map.zoom.wellington-selected svg > g {
    transform: translate(-2250px,3050px) scale(7,-7);
}
div.map.zoom.wellington-selected svg polyline { stroke-width: 0.3px; }

div.map.zoom.west-coast-selected svg > g {
    transform: translate(-210px,8450px) scale(3,-3);
}
div.map.zoom.west-coast-selected svg polyline { stroke-width: 0.5px; }


/* Turn of the circles */
div.map g.region_centre > circle { stroke-opacity: 0; }
div.map g.ta_centre > circle { stroke-opacity: 0; }


/* Not zoomed */
/* White borders around regions */
div.map.not-zoom g[same_reg=FALSE].inbound > polyline {
    stroke: rgb(255, 255, 255);
    stroke-opacity: 1;
}

/* Dark green boarders inside regions (hiding borders) */
div.map.not-zoom g[same_reg=TRUE].inbound > polyline {
    stroke: rgb(41, 101, 117);  /* dark green */
    stroke-width: 3px;
    stroke-opacity: 1;
}

/* Coastline turned off */
div.map.not-zoom g.coastline > polyline {
    stroke: none;
    stroke-opacity: 0;
    stroke-width: 0;
}

/* Most of map is dark green */
div.map.not-zoom g.area > path {
    fill: rgb(41, 101, 117); /* dark green */
    stroke: none;
    cursor: pointer;
}

/* Selected or moused over area bright blue */
fmt reg div.map.not-zoom.bAreaId-selected g.area[reg="bAreaName"] > path
,
fmt reg div.map.not-zoom.bAreaId g.area[reg="bAreaName"] > path
{
    fill: rgb(0, 189, 233);  /* bright blue */
}
/* Hide internal lines by making them bright blue */
fmt reg div.map.not-zoom.bAreaId-selected g.inbound[same_reg=TRUE][reg1="bAreaName"] > polyline
,
fmt reg div.map.not-zoom.bAreaId g.inbound[same_reg=TRUE][reg1="bAreaName"] > polyline
{
    stroke: rgb(0, 189, 233);  /* bright blue */
}

/* Zoomed in case */
/* Fill in the areas with light blue */
div.map.zoom g.area > path {
    cursor: pointer;
    stroke: none;
    stroke-opacity: 1;
    fill-rule: nonzero;
    fill: rgb(233, 241, 252);
    fill-opacity: 0.2;
}

/* The coastline is white */
div.map.zoom g.coastline > polyline {
    stroke: rgb(255, 255, 255);
    stroke-opacity: 1;
}
 
/* The internal lines are light blue */
div.map.zoom g[same_reg=TRUE].inbound > polyline {
    stroke: rgb(223, 241, 252);  /* pale blue */
    stroke-opacity: 0.3;
    fill: none;
}

/* Selected regions outside of the current selected region */
/* Hide internal lines by making them bright blue */
fmt reg div.map.zoom.bAreaId:not(.bAreaId-selected) g.area[reg="bAreaName"] > path
{
    fill: rgb(0, 189, 233);  /* bright blue */
    fill-opacity: 0.2;
}
/* Show internal lines by making them bright blue */
fmt reg div.map.zoom.bAreaId:not(.bAreaId-selected) g.inbound[same_ta=FALSE][same_reg=TRUE][reg1="bAreaName"] > polyline
{
    stroke: rgb(0, 189, 233);  /* bright blue */
}
/* Hide internal lines by making them same as area */
fmt reg div.map.zoom.bAreaId:not(.bAreaId-selected) g.inbound[same_ta=TRUE][same_reg=TRUE][reg1="bAreaName"] > polyline
{
    stroke: rgb(0, 189, 233);  /* bright blue */
    stroke-opacity: 0.01;
    fill: none;
}

/* TA areas which overlap into other regions */
fmt ta div.map.zoom.bParentId-selected g.area[ta="bAreaName"]:not([reg="bParentName"]) > path
{
    fill: rgb(41, 101, 117); /* dark green */
    fill-opacity: 0.2;
}


/* Selected region is dark green */
fmt reg div.map.zoom.bAreaId-selected g.area[reg="bAreaName"] > path
{
    fill: rgb(41, 101, 117); /* dark green */
    fill-opacity: 1;
}
/* Hide borders inside selected region, unless between TAs */
div.map.zoom.auckland-selected g.inbound[same_wrd=TRUE][same_reg=TRUE][reg1="Auckland"] > polyline
{
    stroke: rgb(41, 101, 117); /* dark green */
    stroke-opacity: 1;
    fill: none;
}
/* Highlight selected TA */
fmt ta div.map.zoom.bAreaId.bParentId-selected g.area[ta="bAreaName"][reg="bParentName"] > path
{
    fill: rgb(0, 189, 233);  /* bright blue */
    fill-opacity: 1;
}
/* Fill in internal lines bright blue too */
fmt ta div.map.zoom.bAreaId.bParentId-selected g.inbound[same_ta=TRUE][ta1="bAreaName"] > polyline
{
    stroke: rgb(0, 189, 233);  /* bright blue */
    stroke-opacity: 1;
    fill: none;
}
fmt ta div.map.zoom.bAreaId:not(.bParentId-selected) g.area[ta="bAreaName"] > path
,
fmt ta div.map.zoom.bAreaId g.area[ta="bAreaName"]:not([reg="bParentName"]) > path
{
    fill: rgb(0, 189, 233);  /* bright blue */
    fill-opacity: 0.2;
}

/* Highlight Auckland wards */
fmt wrd div.map.zoom.bAreaId.auckland-selected g.area.bAreaId-ward.auckland-ta > path
{
    fill: rgb(0, 189, 233);  /* bright blue */
    fill-opacity: 1;
}
/* Fill in internal lines bright blue too */
fmt wrd div.map.zoom.bAreaId.auckland-selected g.inbound.bAreaId-ward[same_wrd=TRUE] > polyline
{
    stroke: rgb(0, 189, 233);  /* bright blue */
    stroke-opacity: 1;
    fill: none;
}

fmt reg div.map.zoom.bAreaId-selected:not(.auckland-selected) g.inbound[same_ta=TRUE][same_reg=TRUE][reg1="bAreaName"] > polyline
{
    stroke: rgb(41, 101, 117); /* dark green */
    stroke-opacity: 1;
    fill: none;
}



/* turn off borders when zoomed in */
fmt reg div.map.zoom.bAreaId-selected g.coastline[reg="bAreaName"] > polyline
,
fmt reg div.map.zoom.bAreaId-selected g.inbound[same_reg=FALSE][reg1="bAreaName"] > polyline
,
fmt reg div.map.zoom.bAreaId-selected g.inbound[same_reg=FALSE][reg2="bAreaName"] > polyline
,
fmt ta div.map.zoom.bAreaId.bParentId.bParentId-selected g.inbound[same_ta=FALSE][ta1="bAreaName"] > polyline
,
fmt ta div.map.zoom.bAreaId.bParentId.bParentId-selected g.inbound[same_ta=FALSE][ta2="bAreaName"] > polyline
{
    stroke: none;
    stroke-opacity: 0;
    stroke-width: 0;
}


