div.map svg {
    height: 550px;
    z-index: -10;
}

div.map svg > g {
  transform: translate(-50px, 730px) scale(1, -1);
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

div#auckland.zoom svg > g {
    transform: translate(-800px, 2089.6px) scale(2.95, -2.95);
}

div#tasman.map g.area[reg="Tasman"] > path,
div#bay-of-plenty.map g.area[reg="Bay of Plenty"] > path,
div#taranaki.map g.area[reg="Taranaki"] > path,
div#nelson.map g.area[reg="Nelson"] > path,
div#marlborough.map g.area[reg="Marlborough"] > path,
div#wellington.map g.area[reg="Wellington"] > path,
div#manawatu-wanganui.map g.area[reg="Manawatu-Wanganui"] > path,
div#waikato.map g.area[reg="Waikato"] > path,
div#southland.map g.area[reg="Southland"] > path,
div#gisborne.map g.area[reg="Gisborne"] > path,
div#northland.map g.area[reg="Northland"] > path,
div#otago.map g.area[reg="Otago"] > path,
div#hawkes-bay.map g.area[reg="Hawke's Bay"] > path,
div#west-coast.map g.area[reg="West Coast"] > path,
div#auckland.map g.area[reg="Auckland"] > path,
div#canterbury.map g.area[reg="Canterbury"] > path
{
    fill: rgb(0, 189, 233);
}

div#tasman.map g.inbound[same_reg=TRUE][reg1="Tasman"] > polyline,
div#bay-of-plenty.map g.inbound[same_reg=TRUE][reg1="Bay of Plenty"] > polyline,
div#taranaki.map g.inbound[same_reg=TRUE][reg1="Taranaki"] > polyline,
div#nelson.map g.inbound[same_reg=TRUE][reg1="Nelson"] > polyline,
div#marlborough.map g.inbound[same_reg=TRUE][reg1="Marlborough"] > polyline,
div#wellington.map g.inbound[same_reg=TRUE][reg1="Wellington"] > polyline,
div#manawatu-wanganui.map g.inbound[same_reg=TRUE][reg1="Manawatu-Wanganui"] > polyline,
div#waikato.map g.inbound[same_reg=TRUE][reg1="Waikato"] > polyline,
div#southland.map g.inbound[same_reg=TRUE][reg1="Southland"] > polyline,
div#gisborne.map g.inbound[same_reg=TRUE][reg1="Gisborne"] > polyline,
div#northland.map g.inbound[same_reg=TRUE][reg1="Northland"] > polyline,
div#otago.map g.inbound[same_reg=TRUE][reg1="Otago"] > polyline,
div#hawkes-bay.map g.inbound[same_reg=TRUE][reg1="Hawke's Bay"] > polyline,
div#west-coast.map g.inbound[same_reg=TRUE][reg1="West Coast"] > polyline,
div#auckland.map g.inbound[same_reg=TRUE][reg1="Auckland"] > polyline,
div#canterbury.map g.inbound[same_reg=TRUE][reg1="Canterbury"] > polyline
{
    stroke: rgb(0, 189, 233);
}


div.map g.region_centre > circle {
    stroke-opacity: 0;
}

div.map g.ta_centre > circle {
    stroke-opacity: 0;
}

div.map g.inbound > polyline {
    stroke: none;
    stroke-opacity: 0;
    stroke-width: 0;
}


div.map g[same_reg=FALSE].inbound > polyline {
    stroke: rgb(255, 255, 255);
    stroke-opacity: 1;
    stroke-width: 0.75px;
}

div.map g[same_reg=TRUE].inbound > polyline {
    stroke: rgb(41, 101, 117);
    stroke-opacity: 1;
    stroke-width: 2.25px;
}

div.map g.coastline > polyline {
    stroke: none;
    stroke-opacity: 0;
    stroke-width: 0;
}

div.map g.area > path {
    stroke: none;
    cursor: pointer;
    fill: rgb(41, 101, 117);
}

div.map g.area > path:hover {
    fill: rgb(0, 189, 233);
}
