div.map svg {
    height: 550px;
    z-index: -10;
}

div.map svg > g {
  transform: translate(-50px, 730px) scale(1, -1);
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

div.auckland-zoom svg > g {
    transform: translate(-3250px,6570px) scale(10.2,-10.2);
}
div.bay-of-plenty-zoom svg > g {
    transform: translate(-2100px,3300px) scale(5.5,-5.5);
}
div.canterbury-zoom svg > g {
    transform: translate(-300px,8300px) scale(3,-3);
}
div.gisborne-zoom svg > g {
    transform: translate(-2516px,3550px) scale(6,-6);
}
div.hawkes-bay-zoom svg > g {
    transform: translate(-1870px,2600px) scale(5,-5);
}
div.manawatu-wanganui-zoom svg > g {
    transform: translate(-1250px,2400px) scale(4.5,-4.5);
}
div.marlborough-zoom svg > g {
    transform: translate(-1600px,2348px) scale(6,-6);
}
div.nelson-zoom svg > g {
    transform: translate(-2000px,3400px) scale(8,-8);
}
div.northland-zoom svg > g {
    transform: translate(-1100px,3750px) scale(5,-5);
}
div.otago-zoom svg > g {
    transform: translate(-75px,8148px) scale(4,-4);
}
div.southland-zoom svg > g {
    transform: translate(100px,8000px) scale(4,-4);
}
div.taranaki-zoom svg > g {
    transform: translate(-2260px,4100px) scale(8,-8);
}
div.tasman-zoom svg > g {
    transform: translate(-1080px,2396px) scale(6,-6);
}
div.waikato-zoom svg > g {
    transform: translate(-1050px,2550px) scale(4,-4);
}
div.wellington-zoom svg > g {
    transform: translate(-2250px,3050px) scale(7,-7);
}
div.west-coast-zoom svg > g {
    transform: translate(-210px,8450px) scale(3,-3);
}


div.tasman.map.zoom g.area[reg="Tasman"] > path,
div.bay-of-plenty.map.zoom g.area[reg="Bay of Plenty"] > path,
div.taranaki.map.zoom g.area[reg="Taranaki"] > path,
div.nelson.map.zoom g.area[reg="Nelson"] > path,
div.marlborough.map.zoom g.area[reg="Marlborough"] > path,
div.wellington.map.zoom g.area[reg="Wellington"] > path,
div.manawatu-wanganui.map.zoom g.area[reg="Manawatu-Wanganui"] > path,
div.waikato.map.zoom g.area[reg="Waikato"] > path,
div.southland.map.zoom g.area[reg="Southland"] > path,
div.gisborne.map.zoom g.area[reg="Gisborne"] > path,
div.northland.map.zoom g.area[reg="Northland"] > path,
div.otago.map.zoom g.area[reg="Otago"] > path,
div.hawkes-bay.map.zoom g.area[reg="Hawke's Bay"] > path,
div.west-coast.map.zoom g.area[reg="West Coast"] > path,
div.auckland.map.zoom g.area[reg="Auckland"] > path,
div.canterbury.map.zoom g.area[reg="Canterbury"] > path
{
    fill: rgb(41, 101, 117);
    fill-opacity: 1;
}

div.tasman.map g.area[reg="Tasman"] > path,
div.bay-of-plenty.map g.area[reg="Bay of Plenty"] > path,
div.taranaki.map g.area[reg="Taranaki"] > path,
div.nelson.map g.area[reg="Nelson"] > path,
div.marlborough.map g.area[reg="Marlborough"] > path,
div.wellington.map g.area[reg="Wellington"] > path,
div.manawatu-wanganui.map g.area[reg="Manawatu-Wanganui"] > path,
div.waikato.map g.area[reg="Waikato"] > path,
div.southland.map g.area[reg="Southland"] > path,
div.gisborne.map g.area[reg="Gisborne"] > path,
div.northland.map g.area[reg="Northland"] > path,
div.otago.map g.area[reg="Otago"] > path,
div.hawkes-bay.map g.area[reg="Hawke's Bay"] > path,
div.west-coast.map g.area[reg="West Coast"] > path,
div.auckland.map g.area[reg="Auckland"] > path,
div.canterbury.map g.area[reg="Canterbury"] > path
{
    fill: rgb(0, 189, 233);
}

div.tasman.map g.inbound[same_reg=TRUE][reg1="Tasman"] > polyline,
div.bay-of-plenty.map g.inbound[same_reg=TRUE][reg1="Bay of Plenty"] > polyline,
div.taranaki.map g.inbound[same_reg=TRUE][reg1="Taranaki"] > polyline,
div.nelson.map g.inbound[same_reg=TRUE][reg1="Nelson"] > polyline,
div.marlborough.map g.inbound[same_reg=TRUE][reg1="Marlborough"] > polyline,
div.wellington.map g.inbound[same_reg=TRUE][reg1="Wellington"] > polyline,
div.manawatu-wanganui.map g.inbound[same_reg=TRUE][reg1="Manawatu-Wanganui"] > polyline,
div.waikato.map g.inbound[same_reg=TRUE][reg1="Waikato"] > polyline,
div.southland.map g.inbound[same_reg=TRUE][reg1="Southland"] > polyline,
div.gisborne.map g.inbound[same_reg=TRUE][reg1="Gisborne"] > polyline,
div.northland.map g.inbound[same_reg=TRUE][reg1="Northland"] > polyline,
div.otago.map g.inbound[same_reg=TRUE][reg1="Otago"] > polyline,
div.hawkes-bay.map g.inbound[same_reg=TRUE][reg1="Hawke's Bay"] > polyline,
div.west-coast.map g.inbound[same_reg=TRUE][reg1="West Coast"] > polyline,
div.auckland.map g.inbound[same_reg=TRUE][reg1="Auckland"] > polyline,
div.canterbury.map g.inbound[same_reg=TRUE][reg1="Canterbury"] > polyline
{
    stroke: rgb(0, 189, 233);
}


div.map g.region_centre > circle {
    stroke-opacity: 0;
}

div.map g.ta_centre > circle {
    stroke-opacity: 0;
}

div.map g.inbound > polyline {
    stroke: none;
    stroke-opacity: 0;
    stroke-width: 0;
}

div.tasman.map.zoom g.coastline[reg="Tasman"] > polyline,
div.bay-of-plenty.map.zoom g.coastline[reg="Bay of Plenty"] > polyline,
div.taranaki.map.zoom g.coastline[reg="Taranaki"] > polyline,
div.nelson.map.zoom g.coastline[reg="Nelson"] > polyline,
div.marlborough.map.zoom g.coastline[reg="Marlborough"] > polyline,
div.wellington.map.zoom g.coastline[reg="Wellington"] > polyline,
div.manawatu-wanganui.map.zoom g.coastline[reg="Manawatu-Wanganui"] > polyline,
div.waikato.map.zoom g.coastline[reg="Waikato"] > polyline,
div.southland.map.zoom g.coastline[reg="Southland"] > polyline,
div.gisborne.map.zoom g.coastline[reg="Gisborne"] > polyline,
div.northland.map.zoom g.coastline[reg="Northland"] > polyline,
div.otago.map.zoom g.coastline[reg="Otago"] > polyline,
div.hawkes-bay.map.zoom g.coastline[reg="Hawke's Bay"] > polyline,
div.west-coast.map.zoom g.coastline[reg="West Coast"] > polyline,
div.auckland.map.zoom g.coastline[reg="Auckland"] > polyline,
div.canterbury.map.zoom g.coastline[reg="Canterbury"] > polyline
{
    stroke: none;
    stroke-opacity: 0;
    stroke-width: 0;
}

div.map.zoom g.coastline > polyline, 
div.map g[same_reg=FALSE].inbound > polyline {
    stroke: rgb(255, 255, 255);
    stroke-opacity: 1;
    stroke-width: 0.75px;
}

div.map g[same_reg=TRUE].inbound > polyline {
    stroke: rgb(41, 101, 117);
    stroke-opacity: 1;
    stroke-width: 2.25px;
}

div.map.zoom g[same_reg=TRUE].inbound > polyline {
    stroke: rgb(223, 241, 252);
    stroke-width: 0.4;
    stroke-opacity: 0.2;
    fill: none;
}

div.map g.coastline > polyline {
    stroke: none;
    stroke-opacity: 0;
    stroke-width: 0;
}

div.map g.area > path {
    stroke: none;
    cursor: pointer;
    fill: rgb(41, 101, 117);
}

div.map.zoom g.area > path {
    cursor: pointer;
    stroke: none;
    stroke-width: 0.38px;
    stroke-opacity: 1;
    fill-rule: nonzero;
    fill: rgb(233, 241, 252);
    fill-opacity: 0.2;
}

